
#myPageTop { 
    background: #FFF;
    /* margin: 10px auto; */
    padding: 0 0 10px 10px;
  /*   border: 1px solid #ccc; */
}

#myPageTop table {
    border-spacing: 0;
    width: 100%;
}
#myPageTop td {
  text-align: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  padding: 0;
}
#myPageTop .tr-radio label {
  margin: 0 20px 0 0;
}
#myPageTop .tr-radio input {
  margin: 0 3px;
  vertical-align: -3px;
}
#myPageTop .tr-text input {
  margin: 0 10px 0 0;
  height: 24px;
  padding: 0 4px;
  width: 280px;
  line-height: 1.5;
  line-height: 24px\0;
}
#myPageTop .btn-search,#myPageTop .btn-submit {
  background: #0075C2;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
}
#myPageTop a.picker-copy {
  font-size: 15px;
}
#hr {
  height: 2px;
  background: #0075C2;
}
#myPage {
  position: relative;
  background-color: #FFF;
  text-align: left; 
}
#map {
  height: 450px;
}
.amap-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #F7F9FB;
  -ms-touch-action: none;
}
#divCoordinate {
  position: absolute;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #999;
  background: #FFF;
  z-index: 99;
  display: none;
}
.message {
  font-size: 12px;
  color: blue;
  margin-right: 20px; 
  
}

#citySug {
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 8px;
    height: 30px;
    line-height: 30px;
}
#btnCurrentCity {
    text-decoration: none;
    color: #333;
    display: inline-block;
    height: 28px;
    padding: 0 28px 0 15px;
    background: #fff url(/console/public/show/bg.32.png) right -288px no-repeat;
    border: 1px solid #999;
}
#btnCurrentCity {
    background: #fff;
    padding: 0 15px;
    box-sizing: content-box;
}
#allCityList {
    position: absolute;
    top: 29px;
    left: 0;
    height: 300px;
    background: #FFF;
    border: 1px solid #999;
    line-height: 150%;
    padding: 5px 12px;
    z-index: 3;
}
#allCityList {
    left: auto;
    right: 0;
    width: 300px;
}
#closeCityHolder {
    height: 29px;
    line-height: 30px;
    border-bottom: 1px solid #999;
} 
#closeCityHolder a {
    float: right;
    width: 16px;
    height: 29px;
    _display: inline-block;
    background: url(/console/public/show/bg.32.png) -45px -240px no-repeat;
}
#allCityListSelect {
    height: 260px;
    padding: 8px 0 2px;
    overflow: auto;
     border-spacing: 0;
}
#allCityListSelect a {
    display: inline-block;
    margin-right: 10px;
    padding: 1px;
    color: #0075c2;
    text-decoration: none;
}
#allCityList th {
    width: 40px;
    font-weight: normal;
    vertical-align: top;
    padding: 2px 0 0;
}
#tbodyAllCities td {
    padding: 2px 0;
} 
.hide{
  display:none;
}
